---
import { examplePosts } from "../../features/blog/constants/examplePosts";
---

<div class="mt-10 flex flex-col gap-5 mb-20">
    <h2 class="font-bold text-[#eb6b50]">Últimas publicaciones</h2>
    {examplePosts.slice(0, 4).map((post, index) => (
      <a
        href={`/blog/${post.id}`} 
        class="w-full flex items-center gap-5"
      >
        <div
            class="w-28 aspect-square bg-gray-300 flex-shrink-0 rounded-xl relative"
            style={{
              backgroundImage: `url(${post.image})`,
              backgroundSize: "cover",
              backgroundPosition: "center",
            }}
          >
        </div>
        <div>
          <p class="text-xs text-gray-500">
            By {post.author}
          </p>
          <h2 class="text-lg font-bold">{post.title}</h2>
        </div>
      </a>
    ))}
</div>