---
import Scanner from '../ui/components/Scanner'
import Layout from '../ui/layouts/Layout.astro'
---

<Layout>
    <section class="max-w-xl mx-auto w-full">
        <Scanner client:load />
    </section>
</Layout>