---
import Scanner from '../ui/components/Scanner'
import Layout from '../ui/layouts/Layout.astro'

const token = Astro.cookies.get("auth-token")?.value || "";
const user = Astro.cookies.get("user-id")?.value || "";
---

<Layout>
    <section class="w-full min-h-screen p-4">
        <h1 class="text-2xl font-bold mt-3 text-[#eb6b50]">Escaner</h1>
        <p class="my-12 text-gray-600">Descubre cocteles y recetas basados en lo que tienes. Escánea o sube una foto!</p>
        <Scanner user={user} token={token} client:load />
    </section>
</Layout>